<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
	<center>

    <h1>Product List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Total Amount</th>
                <th>Tax Amount</th>
                <th>Created At</th>
                <th>Created By</th>
				<th colspan="2">description</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the list of products -->
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.madeIn}"></td>
                <td th:text="${product.totalAmount}"></td>
                <td th:text="${product.taxAmount}"></td>
				<td th:text="${product.createdAt}"></td>
                <!--<td th:text="${#dates.format(product.createdAt, 'yyyy-MM-dd HH:mm')}"></td>  Format createdAt -->
                <td th:text="${product.createdBy}"></td>
				<td>				
					<form th:action="@{/deleteOne/{id}(id=${product.id})}" onsubmit="return confirm('Are you sure you want to delete this product?')">
					<input type="hidden" name="_method" value="DELETE"/>
					<button type="submit">Delete</button>
					</form>
				</td>
				<td>				
									<form th:action="@{/editOne/{id}(id=${product.id})}" >
									<button type="submit">Edit</button>
									</form>
								</td>
				
            </tr>
        </tbody>
    </table>
</body>
</html>
